.sidebar{
    grid-area: slidebar;
    background-color: #beba51;
    text-align: center;
}

.sidebar-list {
    margin-top: 50px;
}

.sidebar-icon {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    margin-bottom: 20px;
}