* {
  color: white;
}
.auth-container {
  max-width: 40%;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
}

.register {
  margin-top: 10%;
}

.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

input {
  width: 80%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  /* background-color: #007bff; */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  /* background: linear-gradient(to bottom, #007bff, #0159b8); */
  box-shadow: 1px 1px 1px 1px #808080;
}

.link {
  text-decoration: none;
  color: #007bff;
}

.error {
  margin-bottom: 5px;
  color: #ff0000;
  font-weight: bold;
}
