.canteen {
  display: flex;
  width: 75%;
  margin-left: 25%;
  color: white;
}
.canteen-wrapper {
  display: flex;
  flex-direction: row;
}
.canteen-left {
  flex: 6;
  width: 70%;
}
.canteen-right {
  width: 400px;
  height: max-content;
  flex: 2;
  padding: 10px;
  border-left: 2px solid #494949;
  margin: 10px;
  color: black;
}
.canteen-top {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.canteen-text {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
.canteen-menu {
  text-align: center;
}
.canteen-menu h4 {
  margin: 10px;
}
.canteen-menu h5 {
  margin-bottom: 10px;
}
.menu-price {
  font-family: "Noto Sans Old Italic";
  font-weight: bold;
  margin: 5px;
}
