.rightBar-container{
    flex: 3.5;
    width: 100%;
}
.rightBar-top,.rightBar-bottom{
    border-radius: 10px;
    -webkit-box-shadow: 0 0 16px -8px rgba(0,0,0,0.68);
    box-shadow: 0 0 16px -8px  rgba(0,0,0,0.68);
    margin: 10px;
}
.organizations-list{
    list-style: none;
}
.organization-container{
    padding: 10px;
}
.organization-top{
    margin-bottom: 10px;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
}
.organizations-button{
    color: #135489;
    border: none;
    font-weight: bold;
    padding: 5px;
    background-color: transparent;
}
.organizations-list li{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    margin-top: 10px;
}
.organizations-img{
    width: 30px;
    border-radius: 100%;
    margin-right: 15px;
}
.rightBar-wrapper{
    padding: 20px 20px 0 0;
}
.schedule-container{
    padding: 10px;
}
.schedule-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.schedule-text{
    font-size: 15px;
    font-weight: bold;
}
.schedule-image{
    width: 400px;
    height: 350px;
    object-fit: cover;
    margin-right: 10px;
}