.organization {
    width: 75%;
    margin-left: 25%;
}

.organization-search {
    margin-left: 5px;
    width: 90%;
}

.organization-top {
    color: rgb(0, 0, 0);
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.organization-box {
    flex-wrap: inherit;
    display: flex;
    width: calc(90%);
    margin: 5px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.under-box {
    flex-wrap: wrap;
    margin-right: 10px;
}

.organization-logo {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin: 0px 10px 10px 0px;
    border: 1px solid #c8c8c8;
}

.organization-button {
    background-color: #0077FF;
    color: #ffffff;
    margin-top: 10px;
    margin-left: auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    font-weight: 700;
  }

.filter{
    padding: 5px 10px;
    margin: 5px 10px 10px 5px;
}
  
  .organization-button:hover {
    background-color: #0055CC;
  }

.organization h2 {
    font-size: 1.2rem;
    margin-top: 10px;
  }
  
.organization p {
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
}