.organization {
    width: 75%;
    margin-left: 25%;
}

.organization-search {
    margin-left: 5px;
    width: 80%;
}

.organization-top {
    color: rgb(0, 0, 0);
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.organization-box {
    width: calc(20%);
    margin: 5px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    background-color: #fff;
}

.organization-logo {
    width: 50px;
    border-radius: 10px;
}

.organization h2 {
    font-size: 1.2rem;
    margin-top: 10px;
  }
  
.organization p {
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
}