.share{
    flex: 6;
}
.news-container{
    width: 100%;

    border-bottom: 2px solid #494949;
}
.news-wrapper{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.news-top{
    color: rgb(0, 0, 0);
    padding: 10px;
}
.news-input{
    border:none;
    width: 80%;
}
.news-input:focus{
    outline: none;
}
.news-hr{
    margin: 20px;
}
.news-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.news-options{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.news-icon{
    font-size: 18px;
    margin-right: 3px;
}
.news-options-text{
    font-size: 14px;
    font-weight: lighter;
}
.news-button{
    display: flex;
    align-items: center;
    border: none;
    padding: 5px;
    font-weight: 500;
    cursor: pointer;
    background-color: transparent;
}
.post-form input, .post-desc textarea{
    border: none;
    background-color: transparent;
    outline: none;
}
.news-button-save {
    border: none;
    outline: none;
    margin-left: 10px;
    color: #135489;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
}