.schedule {
    display: grid;
    width: 77%;
    margin-left: 23%;
}

.days { 
    display: grid;
    grid-template-columns: 2.01fr repeat(6, 3fr);
}

.day {
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }

.hours {
    display: grid;
    grid-template-rows: repeat(15, 40px);
    flex-direction: column;
    text-align: center;
}

.hour {
    display: grid;
    grid-template-columns: 2fr repeat(6, 3fr);
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.schedule-cell {
    border-left: 1px solid #ccc;
}